version: "3.8"

services:
  web_app:
    build: .
    ports:
      - 80:80
    depends_on:
      - postgres_db
    restart: on-failure

  postgres_db:
    image: postgres
    container_name: enrl_db
    restart: always
    environment:
      POSTGRES_DB: yndxe
      POSTGRES_USER: adarika
      POSTGRES_PASSWORD: imgoingtothebackendschool
    ports:
      - 5432:5432
    volumes:
      - postgres_db:/var/lib/postgresql/data


volumes:
    postgres_db: